
@{
    ViewBag.Title = "Daotao";
    Layout = "~/Views/Shared/Layout1.cshtml";
}

<div class="container">
    <h2>Đào tạo</h2>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead style="background-color: pink;">
                    <tr class="text-center">
                        <th colspan="2"><strong>Chương trình đào tạo</strong> </br>
                        <p class="font-weight-light"></p>Áp dụng từ năm 2019
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01. Ngôn ngữ Anh</td>
                        <td>07. Quan hệ quốc tế</td>
                    </tr>
                    <tr>
                        <td>02. Ngôn ngữ Trung</td>
                        <td>8. Du lịch lữ hành</td>
                    </tr>
                    <tr>
                        <td>03. Công nghệ thông tin</td>
                        <td>09. Khách sạn</td>
                    </tr>
                    <tr>
                        <td>04. Đông Phương học</td>
                        <td>10. Kế toán</td>
                    </tr>
                    <tr>
                        <td>05. Quản trị kinh doanh </td>
                        <td>11. Tài chính ngân hàng</td>
                    </tr>
                    <tr>
                        <td>6. Kinh doanh quốc tế</td>
                        <td>12. Luật kinh tế</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

